extends layout

block content
	.row
		.col-md-2
			.list-group.mb-3
				a.list-group-item.list-group-item-action.active#filter-active(href="#") Active
				a.list-group-item.list-group-item-action#filter-inactive(href="#") Inactive

		.col-md-10
			.d-flex.justify-content-between.align-items-center.mb-3
				h4.mb-0 Accounts
				.text-muted#accounts-total

			.table-responsive
				table.table.table-hover
					thead
						tr
							th Name
							th Email
							th Member Since
							th Projects
							th Items
							th.text-end Actions
					tbody#accounts-body
						tr
							td.text-center.text-muted(colspan="6") Loading…

			nav#accounts-pagination

block scripts
	script(src=`/static/v-${v}/js/admin.js`)
