doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title || 'Kumbukum'}
		link(href='/static/images/favicon.ico' rel="shortcut icon")
		link(href="/static/css/vendor.css" rel="stylesheet")
		link(href="/static/css/app.css" rel="stylesheet")
		block head
	body
		block body
		include includes/openpanel
		block scripts
